<ol>
  <li>
    <a href="{{ site.baseurl }}{% post_url treinamento_em_linguagem_c/2017-11-25-lista-exercicios-treinamento-em %}" target="_blank">
      <b>Treinamento em Linguagem C 2ª Edição - Viviane Victorine Mizrahi</b>
    </a>
  </li>
  <li>
      <a href="{{ site.baseurl }}{% post_url arquitetura_de_sistemas_operacionais/2016-11-25-lista-exercicios-arquitetura-de %}" target="_blank">
        <b>Arquitetura de Sistemas Operacionais 4ª Edição - Machado Maia</b>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}{% post_url projeto_de_banco_de_dados/2016-12-19-lista-exercicios-projeto-de-banco-de %}">
        <b>Projeto de Banco de Dados 6ª Edição - Carlos Alberto Heuser&nbsp;</b>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}{% post_url aprenda_mineracao_de_dados/2017-03-24-lista-exercicios-aprenda-mirecao-de %}">
        <b>Aprenda Mineração de Dados: Teoria e prática 1ª Edição - Fernando Amaral</b>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}{% post_url estatistica_facil/2017-05-22-lista-exercicios-estatistica-facil %}">
        <b>Estatística Fácil 18ª Edição - Antônio Crespo</b>
      </a>
    </li>
  </ol>
