<ol>
  <li>
    <a href="http://exata0mente.blogspot.com/2016/11/lista-exercicios-treinamento-em.html" target="_blank">
      <b>Treinamento em Linguagem C 2ª Edição - Viviane Victorine Mizrahi</b>
    </a>
  </li>
  <li>
      <a href="http://exata0mente.blogspot.com/2016/11/lista-exercicios-arquitetura-de.html" target="_blank">
        <b>Arquitetura de Sistemas Operacionais 4ª Edição - Machado Maia</b>
      </a>
    </li>
    <li>
      <a href="http://exata0mente.blogspot.com/2016/12/lista-exercicios-projeto-de-banco-de.html"><b>Projeto de Banco de Dados 6ª Edição - Carlos Alberto Heuser&nbsp;</b>
      </a>
    </li>
    <li>
      <a href="http://exata0mente.blogspot.com/2017/03/lista-exercicios-aprenda-mirecao-de.html">
        <b>Aprenda Mineração de Dados: Teoria e prática 1ª Edição - Fernando Amaral</b>
      </a>
    </li>
    <li>
      <a href="http://exata0mente.blogspot.com/2017/05/lista-exercicios-estatistica-facil.html">
        <b>Estatística Fácil 18ª Edição - Antônio Crespo</b>
      </a>
    </li>
  </ol>
